.hero {
  margin: -1.5rem;

  & > h2 {
    color: #fff176;
    margin: 1rem 1.5rem;
  }
}

.brewery-location {
  & > ul {
    margin-top: 1.5rem;
  }
}

.brewery-type, .brewery-location, .brewery-images {
  margin-top: 2.5rem;
  & > h3 {
    text-transform: capitalize;
  }
}

.brewery-type {
  margin-top: 4.25rem;
}

.brewery-images {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.details {
  margin-top: 1.5rem;
}
